@media only screen and (max-width: 768px) { 
    .form-contain{
        height: 100%;
    }
    .yogaBenf-desc {
        padding: 1% 1%;
    }
    .practice-desc {
        padding: 1% 1%;
    }.practice-head{
font-size: 23px;
padding: 15px 0px;
line-height: 30px;
    }
    .yogaBenf-title2{
        font-size: 30px;
    }
    .about-desc{
        text-align: justify ;
    }
    .yogaBenf-desc{
        text-align: justify;
    }
    .blur-2{
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    .card-text2{
        font-size: 6px;
    }
}